ghf.egg-info/
ghf/__pycache__/
ghf/.DS_Store
ghf/tests/__pycache__/
docs/.DS_Store
docs/build/.DS_Store
docs/source/.DS_Store
docs/build/latex
!docs/build/latex/ghf.tex
!docs/build/latex/ghf.pdf
docs/build/html
!docs/build/html/*.html
polygons.py
refactor_test.py
energy_calcs.py
timer.dat





